.tieude1{
    color:red;
    text-align: center;
    font-size: 50px;
}
.tho1{
    color:aliceblue;
    font-size: 40px;
    background-color: aqua;
}
.tho2{
    color:yellow;
    font-size: 40px;
    background-color: bisque;
}